div{
    display: grid;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 0.5rem;
}
body{
    display: grid;
    background-color: blue;
    justify-content: center;
}
h1{
    text-align: center;
}
input{
    background-color: rgb(210, 203, 203);
    border: 1px solid transparent;
}
button{
    background-color: rgb(28, 130, 219);
    width: 5rem;
}